<div class="text-layout">

    <!-- Los pipes solo son transformaciones visuales de las variables -->
    <!-- <h1>{{nombre | titlecase}}</h1>
    <h1>{{valor | number}}</h1>
    <h1>{{obj | json}}</h1>

    <button pButton (click)="mostrarNombre()" label="Cambiar nombre" icon="pi pi-bell" iconPos="right"
        class="p-button-help"></button>

    <p-card [header]="nombre | titlecase">
        Contenido del cuerpo nene
    </p-card> -->

    <app-menu></app-menu>
    
    <router-outlet></router-outlet>
</div>